문제 1: 평균과 최대 점수 계산
주어진 데이터프레임에서 각 Department별로 평균 점수(Score)와 최대 점수를 계산하시오.

데이터프레임
import pandas as pd

data1 = {
    'Department': ['HR', 'Finance', 'HR', 'Finance', 'IT', 'IT', 'HR'],
    'Score': [85, 90, 78, 92, 88, 95, 80]
}
df1 = pd.DataFrame(data1)

In [2]:
import pandas as pd

data1 = {
    'Department': ['HR', 'Finance', 'HR', 'Finance', 'IT', 'IT', 'HR'],
    'Score': [85, 90, 78, 92, 88, 95, 80]
}
df1 = pd.DataFrame(data1)

result1 = df1.groupby('Department').aggregate({
    'Score': ['mean', 'max']
})

print(result1)

           Score
            mean max
Department
Finance     91.0  92
HR          81.0  85
IT          91.5  95


문제 2: 그룹별 개수 및 최소 점수
각 City별로 학생 수와 최소 점수를 구하시오.

데이터프레임
data2 = {
    'City': ['Seoul', 'Busan', 'Seoul', 'Incheon', 'Busan', 'Incheon'],
    'Score': [75, 80, 85, 90, 78, 88]
}
df2 = pd.DataFrame(data2)

In [3]:
data2 = {
    'City': ['Seoul', 'Busan', 'Seoul', 'Incheon', 'Busan', 'Incheon'],
    'Score': [75, 80, 85, 90, 78, 88]
}
df2 = pd.DataFrame(data2)

result2 = df2.groupby('City').aggregate({
    'Score': ['count', 'min']
})

print(result2)

        Score
        count min
City
Busan       2  78
Incheon     2  88
Seoul       2  75



문제 3: 판매량 통계
각 Product별로 평균 판매량(Sales)과 총 판매량(Sales)을 구하시오.

데이터프레임
data3 = {
    'Product': ['A', 'B', 'A', 'C', 'B', 'C', 'A'],
    'Sales': [100, 150, 200, 250, 175, 225, 300]
}
df3 = pd.DataFrame(data3)

In [4]:
data3 = {
    'Product': ['A', 'B', 'A', 'C', 'B', 'C', 'A'],
    'Sales': [100, 150, 200, 250, 175, 225, 300]
}

df3 = pd.DataFrame(data3)
result3 = df3.groupby('Product').aggregate({
    'Sales': ['mean', 'sum']
})

print(result3)

         Sales
          mean  sum
Product
A        200.0  600
B        162.5  325
C        237.5  475


문제 4: 연령대 통계
각 Age Group별로 평균 연령(Age)과 최대 연령을 구하시오.

데이터프레임
data4 = {
    'Age Group': ['20-30', '30-40', '20-30', '30-40', '40-50', '20-30'],
    'Age': [25, 35, 29, 38, 45, 22]
}
df4 = pd.DataFrame(data4)

In [5]:
data4 = {
    'Age Group': ['20-30', '30-40', '20-30', '30-40', '40-50', '20-30'],
    'Age': [25, 35, 29, 38, 45, 22]
}
df4 = pd.DataFrame(data4)

result4 = df4.groupby('Age Group').aggregate({
    'Age': ['mean', 'max']
})

print(result4)

                 Age
                mean max
Age Group
20-30      25.333333  29
30-40      36.500000  38
40-50      45.000000  45


문제 5: 판매자별 통계
각 Salesperson별로 총 판매(Total Sales)와 평균 판매를 계산하시오.

데이터프레임
data5 = {
    'Salesperson': ['John', 'Jane', 'John', 'Doe', 'Jane', 'Doe'],
    'Total Sales': [500, 600, 700, 800, 900, 600]
}
df5 = pd.DataFrame(data5)

In [6]:
data5 = {
    'Salesperson': ['John', 'Jane', 'John', 'Doe', 'Jane', 'Doe'],
    'Total Sales': [500, 600, 700, 800, 900, 600]
}
df5 = pd.DataFrame(data5)

result5 = df5.groupby('Salesperson').aggregate({
    'Total Sales': ['sum', 'mean']
})

print(result5)

            Total Sales
                    sum   mean
Salesperson
Doe                1400  700.0
Jane               1500  750.0
John               1200  600.0