In [8]:
import pandas as pd 
data1 = pd.DataFrame({'A':[1,2], 'B':[3,4]})
data2 = pd.DataFrame({'A':[5,6], 'B':[7,8]})

print(data1)
print("-----------")
print(data2)

   A  B
0  1  3
1  2  4
-----------
   K  m
0  5  7
1  6  8

In [6]:
df_con = pd.concat([data2,data1])
print(df_con)

     K  B    A
0  5.0  7  NaN
1  6.0  8  NaN
0  NaN  3  1.0
1  NaN  4  2.0

In [13]:
data1 = pd.DataFrame({'A':[1,2], 'B':[3,4]})
data2 = pd.DataFrame({'K':[5,6], 'M':[7,8]})

df_join = data1.join(data2)
print(df_join)

   A  B  K  M
0  1  3  5  7
1  2  4  6  8

In [19]:
data1 = pd.DataFrame({'key':['A','C'], 'value1':[1,2]})
data2 = pd.DataFrame({'key':['C','B'], 'value2':[3,4]})
print(data1)
print("-----------")
print(data2)
df_merg = pd.merge(data1,data2)
print("-----------")
print(df_merg)
df_merg = pd.merge(data1,data2, on='key')
print("-----------")
print(df_merg)

  key  value1
0   A       1
1   C       2
-----------
  key  value2
0   C       3
1   B       4
-----------
  key  value1  value2
0   C       2       3
-----------
  key  value1  value2
0   C       2       3

In [29]:
#멀티인덱스

import pandas as pd

dict = {"국어":[100,89,70,70,60,30],
        "영어":[50,60,70,80,90,100],
        "수학":[10,20,30,50,60,70]}

df = pd.DataFrame(dict)
df.index = ['1학년 남', '1학년 녀','2학년 남', '2학년 녀','3학년 남', '3학년 녀']
tidx = [('1학년','남'),('1학년','녀'),('2학년','남'),('2학년','녀'),('3학년','남'),('3학년','녀')]
mindex = pd.MultiIndex.from_tuples(tidx);
#df.index = mindex

df

        국어   영어  수학
1학년 남  100   50  10
1학년 녀   89   60  20
2학년 남   70   70  30
2학년 녀   70   80  50
3학년 남   60   90  60
3학년 녀   30  100  70

In [30]:
import pandas as pd 
   
# 데이터프레임 생성 
df = pd.DataFrame({ 
'Date': ['2021-01-01', '2021-01-01', '2021-01-02'],'Category': ['A', 'B', 'A'], 'Value': [1, 2, 3]}) 
   
df
# 피벗 테이블 생성 
# pivot_table = data.pivot(index='Date', columns='Category', values='Value') 
# print(pivot_table)

         Date Category  Value
0  2021-01-01        A      1
1  2021-01-01        B      2
2  2021-01-02        A      3

In [31]:
import pandas as pd 

# 데이터프레임 생성 
df = pd.DataFrame({ 
'Date': ['2021-01-01', '2021-01-01', '2021-01-02'],'Category': ['A', 'B', 'A'], 'Value': [1, 2, 3]}) 

# 피벗 테이블 생성 
pivot_table = df.pivot(index='Date', columns='Category', values='Value') 
print(pivot_table)

Category      A    B
Date
2021-01-01  1.0  2.0
2021-01-02  3.0  NaN