숫자형

In [128]:
3+2

5

In [129]:
#문자열
#   "   "  ''  """""" ''''''
str2 = 'I\'m a boy.'
print(str2)

I'm a boy.

In [130]:
# 안녕하세요
# 홍길동입니다.
# 만나서 반갑습니다.

# mstr = "안녕하세요.\n홍길동입니다.\n만나서반갑습니다."
# print(mstr)


mstr = """
      안녕하세요
      홍길동입니다.
      만나서 반갑습니다.
"""
print(mstr)

      안녕하세요
      홍길동입니다.
      만나서 반갑습니다.

In [131]:
#문자열합치기

head = "파이썬은 "
tail = "재미있다."
tail2 = "쉽다"

print(head+tail)
print(head+tail2)

파이썬은 재미있다.
파이썬은 쉽다

In [132]:
#문자열연산
a= "python " * 3
print(a)

python python python

In [133]:
# ========================
#     회원 목록
# ========================

print("="*20)
print(" "*3 + "회원 목록")
print("="*20)

====================
   회원 목록
====================

In [134]:
#문자열 길이 다른언어 문자열.length()
print(len("홍길동"))

3

In [135]:
a = "Life is too short, You need Python"

print(">"+a[5:7]+"<")

>is<

In [136]:
b = 7
player = "손흥민"
a = "%s의 등번호는 %d번 입니다." % (player, b) 
print(a)

손흥민의 등번호는 7번 입니다.

In [137]:
pi = 3.14123456
str4 = "원주율값은 %10.3f 입니다." % pi
print(str4)

원주율값은      3.141 입니다.

In [138]:
player = "손흥민"
num = 7
win_rate = 3.14123456
str3 = "%s 선수는 등번호 %d 입니다.\n 승리기여도 %10.3f 입니다." % (player,num,win_rate)
print(str3)
str0 = "{0} 선수는 등번호 {1} 입니다.\n 승리기여도 {2:10.3f} 입니다.".format(player,num,win_rate)
print(str0)

str1 = "{_player} 선수는 등번호 {_num} 입니다.\n 승리기여도 {_win_rate:10.3f} 입니다.".format(_player=player,_num=num,_win_rate=win_rate)
print(str1)

손흥민 선수는 등번호 7 입니다.
 승리기여도      3.141 입니다.
손흥민 선수는 등번호 7 입니다.
 승리기여도      3.141 입니다.
손흥민 선수는 등번호 7 입니다.
 승리기여도      3.141 입니다.

In [139]:
print("0123456789")
print("{0:<10}".format("hello"))
print("{0:>10}".format("hello"))
print("{0:^10}".format("hello"))

0123456789
hello
     hello
  hello

In [140]:
age = 33
print( f'나는 내년이면 {age + 1}살이 된다.')

나는 내년이면 34살이 된다.

In [141]:
a = "hobbby"
print(a.count('b'))

3

In [142]:
#    0123456789012345678901234
a = "Python is the best choice"
print(a.find('b'))
# 14
print(a.find('k'))
# -1

14
-1

In [143]:
#    01234567890123456
# a = "Life is too short"
# print( a.index('t') )
# print( a.index('k'))

In [144]:
#join 
a = ",".join("abcd")
print(a)

a,b,c,d

In [145]:
temp = "abcd"
a=""
for c in temp :
  if len(a) > 0 :
    a += ","
  a += c
print(a)

a,b,c,d

In [146]:
#대문자 소문자
temp = "Apple is RED color"
print(temp.upper())
print(temp.lower())

APPLE IS RED COLOR
apple is red color

In [147]:
#문자열 공백지우기 (strip)
temp = "    hi    "
print(">"+temp.lstrip()+"<")
print(">"+temp.rstrip()+"<")
print(">"+temp.strip()+"<")

>hi    <
>    hi<
>hi<

In [148]:
#replace
temp = "Life is to short"
print(temp.replace("Life", "Your leg"))

Your leg is to short

In [149]:
#split
temp = "Life is too short"
result = temp.split()

print(result)

['Life', 'is', 'too', 'short']

In [150]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]
print(a[-1][-1][0])

Life

In [151]:
a = {1:'a', 1:'b'}
print(len(a))

1

In [152]:
dic = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
print(dic['name'])
print(dic['phone'])
print(dic['birth'])

pey
010-9999-1234
1118

In [153]:
print(dic.keys())
print(dic.values())
print(dic.items())

dict_keys(['name', 'phone', 'birth'])
dict_values(['pey', '010-9999-1234', '1118'])
dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])

In [154]:
# s1 = set([1, 2, 3])
# l1 = list(s1)
# print(l1)
# # [1, 2, 3]
# print(l1[0])
# # 1
# t1 = tuple(s1)
# print(t1)
# # (1, 2, 3)
# print(t1[0])
# # 1

In [155]:
a = True
print(type(a))
b = 1
print( type(b))

list = (1,2,3)
print(type(list))

<class 'bool'>
<class 'int'>
<class 'tuple'>

In [156]:
from copy import copy
a = [1, 2, 3]
b = copy(a)
c = a

print(id(a))
print(id(b))
print(id(c))

print(a is b)
print(a is c)

2760096188352
2760096195584
2760096188352
False
True

In [157]:
a,b,c = ['AAA','BBB','CCC']
print(a)
print(b)
print(c)

AAA
BBB
CCC

In [158]:
a = b = 3
print(a)
print(b)

3
3

In [159]:
b = 5
print(a)
print(b)

3
5

In [160]:
a,b = b,a
print(a)
print(b)

5
3

In [161]:
temp = a
a = b
b = temp

In [162]:
if 3>1 :
   print("3>1 은 참이다.")
   print("이것은 진실이다.")
else:
   print("3>1은 거짓이다.")

3>1 은 참이다.
이것은 진실이다.

In [163]:
treeHit = 0
while treeHit <10:
  treeHit += 1
  print("나무를 %d번 찍었습니다." % treeHit)
  if treeHit == 5:
    print("나무가 쓰러집니다.")
    break

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무가 쓰러집니다.

In [164]:
scores = [90,25,67,75,80]
num = 0
for score in scores:
  num += 1
  if score >= 60:
    print("%d번 합격(%d)" % (num,score))
  else:
    print("%d번 불합격(%d)" % (num,score))

1번 합격(90)
2번 불합격(25)
3번 합격(67)
4번 합격(75)
5번 합격(80)

In [165]:
# marks2.py
marks = [90, 25, 67, 45, 80]

number = 0 
for mark in marks: 
    number = number +1 
    if mark < 60:
        continue 
    print("%d번 학생 축하합니다. 합격입니다. " % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [166]:
sum = 0
for i in range(1,101):
  sum = sum + i
print(sum)

5050

In [167]:
for dan in range(2,10):
  for n in range(2,10):
    print(f'{dan} * {n} = {dan*n}' )

2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [168]:
a = [1,2,3,4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [169]:
result = []
for num in a:
  result.append(num*3)
print(result)

[3, 6, 9, 12]

In [170]:
a = [1,2,3,4]
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [171]:
result = []
for num in a:
  if num % 2 == 0:
    result.append(num*3)
print(result)

[6, 12]

In [172]:
def add (a, b):
  return a+b

x = 4.6
y = 5.2

result = add(x,y)
print(result)

9.8

In [173]:
def add_mul(choice, *args):
  if choice=="add":
    result = 0
    for i in args:
      result += i
  elif choice=="mul":
    result = 1
    for i in args:
      result *= i
  # print(type(args))
  return result;

value = add_mul("add", 1,2,3,4,5,6,7,8,9,10)
print(value)

55

In [174]:
def print_kwargs(**kwargs):
   print(type(kwargs))
   print(kwargs)

print_kwargs(a=1)
# {'a': 1}
print_kwargs(name='foo', age=3)
# {'age': 3, 'name': 'foo'}

<class 'dict'>
{'a': 1}
<class 'dict'>
{'name': 'foo', 'age': 3}

In [175]:
# vartest.py
a = 1
print(id(a))
def vartest(a):
    a = a +1
    print(id(a))

vartest(a)
print(a)

140704291877672
140704291877704
1

In [176]:
# vartest_return.py
a = 1
print("1=>"+str(id(a)))
def vartest(a): 
    a = a +1 
    return a

a = vartest(a) 
print(a)

TypeError: 'str' object is not callable