문제 1: 다중 인덱스 평균 계산
Category와 Subcategory를 인덱스로 설정한 후, 각 그룹의 평균값을 계산하시오.
[결과]
                      Value
Category Subcategory       
A        X             10.0
         Y             20.0
B        X             30.0
         Y             40.0

In [21]:
import pandas as pd

data = {
    'Category': ['A', 'A', 'B', 'B'],
    'Subcategory': ['X', 'Y', 'X', 'Y'],
    'Value': [10, 20, 30, 40]
}
df = pd.DataFrame(data)

In [22]:
# 다중 인덱스 설정
df.set_index(['Category', 'Subcategory'], inplace=True)

# 그룹별 평균 계산
result = df.groupby(level=[0, 1]).mean()
print(result)

                      Value
Category Subcategory
A        X             10.0
         Y             20.0
B        X             30.0
         Y             40.0

문제 2: 결측치 평균 대체
결측치가 포함되어 있으니, 결측치를 해당 열의 평균값으로 대체하고 최종 DataFrame을 출력하시오.
[결과]
      Name  Score
0     John   90.0
1    Alice   85.0
2      Bob   80.0
3  Charlie   85.0

In [23]:
import pandas as pd
import numpy as np

data = {
    'Name': ['John', 'Alice', 'Bob', 'Charlie'],
    'Score': [90, np.nan, 80, np.nan]
}
df = pd.DataFrame(data)

In [24]:
# 결측치를 평균으로 대체
# df['Score'].fillna(df['Score'].mean(), inplace=True)  # 기존 방식
df['Score'] = df['Score'].fillna(df['Score'].mean())  # 수정된 방식
print(df)

      Name  Score
0     John   90.0
1    Alice   85.0
2      Bob   80.0
3  Charlie   85.0

문제 3: 지역별 매출 총합
문제:
다음 데이터에서 DataFrame df을 이용하시오. 각 Region별로 매출의 총합을 계산하시오.
[결과]
Region
East    350
West    400
Name: Sales, dtype: int64

In [25]:
import pandas as pd

data = {
    'Region': ['East', 'West', 'East', 'West'],
    'Sales': [200, 300, 150, 100]
}
df = pd.DataFrame(data)

In [26]:
# Region별 매출 총합 계산
result = df.groupby('Region')['Sales'].sum()
print(result)

Region
East    350
West    400
Name: Sales, dtype: int64

문제 4: 이메일 도메인 추출
문제:
다음 데이터에서 DataFrame df을 이용하시오. 이메일 주소에서 도메인 부분만 추출하여 새로운 컬럼 Domain을 추가하시오.
[결과]
       Name              Email         Domain
0  John Doe   john@example.com     example.com
1     Alice    alice@example.com     example.com
2       Bob      bob@example.com     example.com

In [27]:
import pandas as pd

data = {
    'Name': ['John Doe', 'Alice', 'Bob'],
    'Email': ['john@example.com', 'alice@example.com', 'bob@example.com']
}
df = pd.DataFrame(data)

In [28]:
# 도메인 추출
df['Domain'] = df['Email'].apply(lambda x: x.split('@')[1])
print(df)

       Name              Email       Domain
0  John Doe   john@example.com  example.com
1     Alice  alice@example.com  example.com
2       Bob    bob@example.com  example.com

문제 5: 시계열 데이터 주 단위 리샘플링
문제:
다음 데이터에서 DataFrame df을 이용하시오. 각 날짜에 해당하는 데이터를 합산한 후 주 단위로 리샘플링하여 결과를 출력하시오.
[결과]
            Sales
Date             
2024-01-07    250
2024-01-14    300
2024-01-21      0

In [29]:
import pandas as pd

data = {
    'Date': ['2024-01-01', '2024-01-02', '2024-01-08', '2024-01-15'],
    'Sales': [100, 150, 200, 300]
}
df = pd.DataFrame(data)

In [30]:
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)

# 주 단위로 리샘플링하여 합산
result = df.resample('W').sum()
print(result)

            Sales
Date
2024-01-07    250
2024-01-14    200
2024-01-21    300

문제 6: 데이터 병합
문제:
다음 데이터에서 DataFrame df1과 df2을 이용하시오. ID를 기준으로 병합하여 새로운 DataFrame을 생성하시오.
[결과]
   ID   Name  Score
0   1   John     90
1   2  Alice     85

In [31]:
import pandas as pd

df1 = pd.DataFrame({
    'ID': [1, 2],
    'Name': ['John', 'Alice']
})

df2 = pd.DataFrame({
    'ID': [1, 2],
    'Score': [90, 85]
})

In [32]:
# ID를 기준으로 병합
result = pd.merge(df1, df2, on='ID')
print(result)

   ID   Name  Score
0   1   John     90
1   2  Alice     85

문제 7: 문자열 필터링
문제:
다음 데이터에서 DataFrame df을 이용하시오. Name 컬럼에서 'A'로 시작하는 이름만 필터링하여 새로운 DataFrame을 생성하시오.
[결과]
    Name  Age
1  Alice   30
3    Ann   25

In [33]:
import pandas as pd

data = {
    'Name': ['John', 'Alice', 'Bob', 'Ann'],
    'Age': [23, 30, 22, 25]
}
df = pd.DataFrame(data)

In [34]:
# 'A'로 시작하는 이름 필터링
result = df[df['Name'].str.startswith('A')]
print(result)

    Name  Age
1  Alice   30
3    Ann   25

문제 8: 특정 조건의 필터링
다음 데이터에서 DataFrame df을 이용하시오. Score가 85 이상인 데이터만 추출하시오.
[결과]
      Name  Score
0     John     90
1    Alice     85
3  Charlie     95

In [35]:
import pandas as pd

data = {
    'Name': ['John', 'Alice', 'Bob', 'Charlie'],
    'Score': [90, 85, 80, 95]
}
df = pd.DataFrame(data)

In [36]:
# Score가 85 이상인 데이터 필터링
result = df[df['Score'] >= 85]
print(result)

      Name  Score
0     John     90
1    Alice     85
3  Charlie     95

문제 9: 컬럼 추가
문제:
다음 데이터에서 DataFrame df을 이용하시오. Score 컬럼의 값에 5를 더한 새로운 컬럼 Adjusted Score를 추가하시오.
[결과]
    Name  Score  Adjusted Score
0   John     90              95
1  Alice     85              90
2    Bob     80              85

In [37]:
import pandas as pd

data = {
    'Name': ['John', 'Alice', 'Bob'],
    'Score': [90, 85, 80]
}
df = pd.DataFrame(data)

In [38]:
# Adjusted Score 컬럼 추가
df['Adjusted Score'] = df['Score'] + 5
print(df)

    Name  Score  Adjusted Score
0   John     90              95
1  Alice     85              90
2    Bob     80              85

문제 10: 특정 값으로 데이터 대체
문제:
다음 데이터에서 DataFrame df을 이용하시오. Score가 80 이하인 값은 80으로 대체하시오.
[결과]
      Name  Score
0     John     90
1    Alice     80
2      Bob     80
3  Charlie     80

In [39]:
import pandas as pd

data = {
    'Name': ['John', 'Alice', 'Bob', 'Charlie'],
    'Score': [90, 75, 80, 70]
}
df = pd.DataFrame(data)

In [40]:
# Score가 80 이하인 값 80으로 대체
df['Score'] = df['Score'].replace({75: 80, 70: 80})
print(df)

      Name  Score
0     John     90
1    Alice     80
2      Bob     80
3  Charlie     80