1. 이상치 처리 문제
문제 1:
주어진 데이터에서 변수 'age'의 값이 0보다 작은 경우는 이상치로 간주한다. 이를 모두 제거하고 결과를 출력하라.

In [1]:
import pandas as pd

data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'age': [25, -5, 35, 45]}

df = pd.DataFrame(data)
print("원본 데이터프레임:\n", df)

# 이상치 제거
df_cleaned = df[df['age'] >= 0]
print("이상치 제거 후 데이터:\n", df_cleaned)

원본 데이터프레임:
       name  age
0    Alice   25
1      Bob   -5
2  Charlie   35
3    David   45
이상치 제거 후 데이터:
       name  age
0    Alice   25
2  Charlie   35
3    David   45

문제 2:
주어진 데이터에서 'salary'가 10,000보다 큰 값은 이상치로 간주한다. 이러한 값들을 모두 10,000으로 수정하고 결과를 출력하라.

In [2]:
import pandas as pd

data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'salary': [8000, 12000, 9500, 15000]}

df = pd.DataFrame(data)
print("원본 데이터프레임:\n", df)

# 이상치 처리
df['salary'] = df['salary'].apply(lambda x: 10000 if x > 10000 else x)
print("이상치 처리 후 데이터:\n", df)

원본 데이터프레임:
       name  salary
0    Alice    8000
1      Bob   12000
2  Charlie    9500
3    David   15000
이상치 처리 후 데이터:
       name  salary
0    Alice    8000
1      Bob   10000
2  Charlie    9500
3    David   10000

문제 3:
'temperature' 열에서 2표준편차를 벗어나는 값을 이상치로 간주하고, 이를 제거하라.

In [20]:
#답 1
import pandas as pd
from scipy import stats

data = {'temperature': [22.5, 23.0, 24.5, 19.0, 300.0, 21.5]}
df = pd.DataFrame(data)
print("원본 데이터프레임:\n", df)

# 이상치 탐지 및 제거
df['zscore'] = stats.zscore(df['temperature'])

df_cleaned = df[(df['zscore'] > -2) & (df['zscore'] < 2)].drop(columns=['zscore'])
print("이상치 제거 후 데이터:\n", df_cleaned)

원본 데이터프레임:
    temperature
0         22.5
1         23.0
2         24.5
3         19.0
4        300.0
5         21.5
이상치 제거 후 데이터:
    temperature
0         22.5
1         23.0
2         24.5
3         19.0
5         21.5

In [19]:
#답2

import pandas as pd

data = {'temperature': [22.5, 23.0, 24.5, 19.0, 300.0, 21.5]}
df = pd.DataFrame(data)
print("원본 데이터프레임:\n", df)

# 이상치 탐지 및 제거
mean_temp = df['temperature'].mean()
std_temp = df['temperature'].std()
df_cleaned = df[(df['temperature'] > mean_temp - 2*std_temp) & (df['temperature'] < mean_temp + 2*std_temp)]
print("이상치 제거 후 데이터:\n", df_cleaned)

원본 데이터프레임:
    temperature
0         22.5
1         23.0
2         24.5
3         19.0
4        300.0
5         21.5
이상치 제거 후 데이터:
    temperature
0         22.5
1         23.0
2         24.5
3         19.0
5         21.5

2. 결측치 처리 문제
문제 1:
다음 데이터에서 결측치(NaN)가 있는 행을 모두 제거하라.

In [4]:
import pandas as pd
import numpy as np

data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'score': [85, np.nan, 95, 90]}

df = pd.DataFrame(data)
print("원본 데이터프레임:\n", df)

# 결측치 제거
df_cleaned = df.dropna(axis=0)
print("결측치 제거 후 데이터:\n", df_cleaned)

원본 데이터프레임:
       name  score
0    Alice   85.0
1      Bob    NaN
2  Charlie   95.0
3    David   90.0
결측치 제거 후 데이터:
       name  score
0    Alice   85.0
2  Charlie   95.0
3    David   90.0

문제 2:
주어진 데이터에서 결측치가 있는 경우, 해당 결측치를 0으로 대체하라.

In [21]:
import pandas as pd
import numpy as np

data = {'product': ['A', 'B', 'C', 'D'],
        'price': [100, np.nan, 300, np.nan]}

df = pd.DataFrame(data)
print("원본 데이터프레임:\n", df)

# 결측치 대체
df_filled = df.fillna(0)
print("결측치 대체 후 데이터:\n", df_filled)

원본 데이터프레임:
   product  price
0       A  100.0
1       B    NaN
2       C  300.0
3       D    NaN
결측치 대체 후 데이터:
   product  price
0       A  100.0
1       B    0.0
2       C  300.0
3       D    0.0

문제 3:
주어진 데이터에서 결측치를 각 열의 평균 값으로 대체하라.

In [6]:
import pandas as pd
import numpy as np

data = {'math': [80, 90, np.nan, 70],
        'english': [np.nan, 85, 88, 92]}

df = pd.DataFrame(data)
print("원본 데이터프레임:\n", df)

# 결측치를 열의 평균 값으로 대체
df_filled = df.fillna(df.mean())
print("결측치 대체 후 데이터:\n", df_filled)

원본 데이터프레임:
    math  english
0  80.0      NaN
1  90.0     85.0
2   NaN     88.0
3  70.0     92.0
결측치 대체 후 데이터:
    math    english
0  80.0  88.333333
1  90.0  85.000000
2  80.0  88.000000
3  70.0  92.000000

3. 중복 데이터 처리 문제
문제 1:
주어진 데이터에서 중복된 행을 탐지하고, 이를 표시하라.

In [7]:
import pandas as pd

data = {'name': ['Alice', 'Bob', 'Charlie', 'Alice'],
        'age': [25, 30, 35, 25]}

df = pd.DataFrame(data)
print("원본 데이터프레임:\n", df)

# 중복 데이터 탐지
duplicates = df.duplicated()
print("중복 데이터:\n", duplicates)

원본 데이터프레임:
       name  age
0    Alice   25
1      Bob   30
2  Charlie   35
3    Alice   25
중복 데이터:
 0    False
1    False
2    False
3     True
dtype: bool

문제 2:
다음 데이터에서 중복된 행을 제거하라.

In [8]:
import pandas as pd

data = {'id': [1, 2, 3, 1],
        'score': [85, 90, 95, 85]}

df = pd.DataFrame(data)
print("원본 데이터프레임:\n", df)

# 중복 데이터 제거
df_cleaned = df.drop_duplicates()
print("중복 제거 후 데이터:\n", df_cleaned)

원본 데이터프레임:
    id  score
0   1     85
1   2     90
2   3     95
3   1     85
중복 제거 후 데이터:
    id  score
0   1     85
1   2     90
2   3     95

문제 3:
중복된 데이터가 있는 경우, 중복된 데이터 중 마지막 행을 남기고 나머지를 제거하라.

In [9]:
import pandas as pd

data = {'name': ['Alice', 'Bob', 'Charlie', 'Alice'],
        'age': [25, 30, 35, 25]}

df = pd.DataFrame(data)
print("원본 데이터프레임:\n", df)

# 중복 데이터 중 마지막 행만 남기고 제거
df_cleaned = df.drop_duplicates(keep='last')
print("중복 제거 후 데이터 (마지막 행 유지):\n", df_cleaned)

원본 데이터프레임:
       name  age
0    Alice   25
1      Bob   30
2  Charlie   35
3    Alice   25
중복 제거 후 데이터 (마지막 행 유지):
       name  age
1      Bob   30
2  Charlie   35
3    Alice   25