In [3]:
import pandas as pd
import numpy as np

# DataFrame 생성
data = {'A': [1, 2, np.nan, 1,1],
        'B': [5, np.nan, np.nan, 5,5]}

df = pd.DataFrame(data)

print("원본 데이터프레임:\n", df)

# 중복 데이터 탐지
duplicates = df.duplicated()
print("중복 데이터:\n", duplicates)

# 중복 데이터 제거
df_no_duplicates = df.drop_duplicates(keep='last')
print("중복 제거 후 데이터:\n", df_no_duplicates)

원본 데이터프레임:
      A    B
0  1.0  5.0
1  2.0  NaN
2  NaN  NaN
3  1.0  5.0
4  1.0  5.0
중복 데이터:
 0    False
1    False
2    False
3     True
4     True
dtype: bool
중복 제거 후 데이터:
      A    B
1  2.0  NaN
2  NaN  NaN
4  1.0  5.0

In [8]:
# 라이브러리 불러오기
import pandas as pd

# 중복 데이터를 갖는 데이터프레임 만들기
df = pd.DataFrame({'c1':['a', 'b','a','a', 'b', 'a', 'b'],
                  'c2':[1, 2,1,1, 1, 2, 2],
                  'c3':[1, 3,1, 1, 2, 2, 2]})
df

  c1  c2  c3
0  a   1   1
1  b   2   3
2  a   1   1
3  a   1   1
4  b   1   2
5  a   2   2
6  b   2   2

In [11]:
df_dup_f = df.duplicated(keep=False)
df_dup_f

0     True
1    False
2     True
3     True
4    False
5    False
6    False
dtype: bool

In [12]:
df_dup_f = df.drop_duplicates(keep=False)
df_dup_f

  c1  c2  c3
1  b   2   3
4  b   1   2
5  a   2   2
6  b   2   2